<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Breath Fresh</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body style="background-color: whitesmoke">
    <%- include('partials/header.html') %>
    <div class="hero text-black py-5 pb-auto px-4 flex-grow-1">
        <h1 class="text-black">About Us</h1>
    
        <p class="text-black">
            Breath Fresh is a service provided by Cumulus Tech with the goal of educating and informing users about the particulate matter in areas that we survey. 
        </p>
    </div>
    <%- include('partials/footer_short.html') %>
</body>
</html>