<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Affects of PM2.5 - Breath Fresh</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body style="background-color: whitesmoke; min-height: 100%;">
    <%- include('partials/header.html') %>
    <div class="hero text-black py-5 px-4 flex-grow-1">
        <h1 class="text-black">How PM 2.5 particulate affects you:</h1>
    
        <p class="text-black">
            Particles in the PM 2.5 size range are able to travel deep into the respiratory tract, reaching the lungs. Exposure to fine particulate can cause short-term health effects such as eye, nose, throat, and lung irritation, as well as coughing, sneezing, runny nose, and shortness of breath.
        </p>
    </div>
    <%- include('partials/footer_short.html') %>
</body>
</html>