<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What Are PM2.5 - Breath Fresh</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body style="background-color: whitesmoke">
    <%- include('partials/header.html') %>
    <div class="hero text-black py-5 px-4 flex-grow-1">
        <h1 class="text-black">What PM 2.5 are:</h1>
    
        <p class="text-black">
            Also called Particulate Matter (PM), PM 2.5 describes fine inhalable particles, with diameters that are generally 2.5 micrometers and smaller. PM 2.5 are tiny particles in the air that reduce visibility and cause the air to appear hazy when levels are elevated. Outdoor PM2.5 levels are most likely to be elevated on days with little or no wind or air mixing.
        </p>
    </div>
    <%- include('partials/footer_short.html') %>
</body>
</html>