<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics - Breath Fresh</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body style="background-color: whitesmoke">
    <%- include('partials/header.html') %>
    <div class="hero text-black py-5 px-4 flex-grow-1">
        <h1 class="text-black">Statistics:</h1>
        
        <br>
        <h2 class="text-black">The WHO</h2>
        <p class="text-black">
            Air pollution "kills an estimated seven million people worldwide every year" and their data "shows that 9 out of 10 people breathe air containing high levels of pollutants".
        </p>

        <br>
        <h2 class="text-black">AirNOW</h2>
        <p class="text-black">
            A 2017 study published in the New England Journal of Medicine showed that chronic exposure to levels previously designated as 'Good' in EPA studies increased mortality in sensitive populations by as much as 13%
        </p>

        <br>
        <h2 class="text-black">Molekule</h2>
        <p class="text-black">
            A 2010 study found that "exposure to PM 2.5 ... over a few hours to weeks can trigger cardiovascular disease-related mortality and nonfatal events; longer-term exposure (e.g. a few years) increases the risk for cardiovasculate mortality to an even greater extent than exposures over a few days and reduces life expectancy ... by several months to a few years".
        </p>
    </div>
    <%- include('partials/footer.html') %>
</body>
</html>