<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where PM2.5 Come From - Breath Fresh</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body style="background-color: whitesmoke">
    <%- include('partials/header.html') %>
    <div class="hero text-black py-5 px-4 flex-grow-1">
        <h1 class="text-black">Where PM 2.5 come from:</h1>
    
        <p class="text-black">
            Outside, fine particulate primarly come from vehicle (car, truck, construction, off-road, etc.) exhaust, as well as other operations that involve the burning of fuels (such as wood, heating oil, coal,) and natural resources (such as forest and grass fires). Fine particles also form from the reaction of gases or droplets in the atmosphere from sources such as power plants.

            PM 2.5 is also produced by common indoor activities. Some indoor sources of fine particles are tobacco smoke, cooking (e.g. frying, sauteing, and broiling), burning candles or oil lamps, and operating fireplaces or fuel-burning space-heaters.
        </p>
    </div>
    <%- include('partials/footer_short.html') %>
</body>
</html>